*{
    background-color: black;
}


.hh1{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75.5px;
    /* margin: 30px;
    padding: 0%; */
    color: rgb(238, 255, 0);
    border-radius: 2px;
    animation: typing 0.5s steps(100) forwards;
}

.p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-size: 20px;
    color: rgb(238, 255, 0);
    display: flex;
    justify-content: center;
    animation: bounce 2s;
    /* animation: blink 3s forwards forwards; */
}
@keyframes typing{
    from{
        width: 0;
    }

    to{
        width: 100%;
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.butt{
    font-size: 25px;
    font-weight: bold;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: cursive;
    margin: 15px;
    background-color: rgb(238, 255, 0);
    border-radius: 25px;
    cursor: pointer;
    border: none;

}
.butt:hover{
    opacity: 0.6;
}
.butt:active{
    opacity: 0.3;
}